{
    "extends": "airbnb/base",

    "plugins": [
        "import"
    ],

    "rules": {
        "indent": ["error", "tab",  { "VariableDeclarator": {"var": 2, "let": 2, "const": 3}, "SwitchCase": 1 }],
    	"comma-dangle": "off",
        "new-cap": "off",
        "no-underscore-dangle": "off",
        "arrow-parens": "off",
        "one-var": "off",
        "no-tabs": "off",
        "semi": "off",
        "consistent-return": "warn",
        "no-param-reassign": "warn",
        "linebreak-style": "off",
        "space-before-function-paren": "off",
        "func-names": "off",
        "radix": "off",
        "prefer-arrow-callback": "off"
    }
}